@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
    color: #333; 
    background-color: #f0f0f0; 
}

/* Heading */
header {
    display: flex;
    max-height: 500px;
    padding: 5rem;
    position: relative;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3498db; 
    transform: skewX(70deg);
    z-index: -1;
    height: 60%;
    width: 200%;
}

.about-heading {
    font-family: 'Lora', serif;
}

.profile-container {
    min-width: 300px;
    height: 100%;
    align-self: center;
}

.profile-pic {
    position: relative;
    max-height: 500px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-me-container {
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #f0f0f0;
}

.links {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 1rem;
}

.link {
    width: 1.7rem;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.link:hover {
    transform: scale(1.2);
}

/* main body/content */
main {
    padding: 5rem;
    padding-top: 0;
}

.project-heading {
    font-family: 'Lora', serif;
    font-size: 24px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.project {
    position: relative;
    width: 300px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-img {
    width: 100%;
    height: 200px;
}

.project-info {
    display: flex;
    justify-content: space-between;
}

.project-title {
    font-family: 'Lora', serif;
    font-weight: bold;
    margin: 0;
    padding-left: 1rem;
}

.project-links {
    display: flex;
    margin-right: 1rem;
    gap: 0.75rem;
}

.project-link {
    display: flex;
    width: 1.3rem;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

}

.project-link:hover {
    transform: scale(1.2);
}

.project-description {
    margin: 0;
    padding: 1rem;
    font-size: 14px;
}

/* footer/contact me */
footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    background-color: #3498db;
    color: rgb(225, 230, 235);
}

.contact-heading {
    font-family: 'Lora', serif;
    font-size: 26px;
}

.profile-pic2 {
    display: flex;
    max-width: 400px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: center;
    margin: 2rem;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-icons {
    width: 1.5rem;
    height: auto;
    padding-right: 1rem;
    fill: white;
}